APP_NAME="rag-system"
APP_VERSION="0.1.0"

FILE_ALLOWED_TYPES=["application/pdf", "text/plain"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGODB_URL="mongodb://username:password@localhost:27007"
MONGODB_DATABASE="rag-system"


OPENROUTER_API_KEY="api-key"
OLLAMA_BASE_URL="http://localhost:11434"


CHAT_MODELS='{
  "qwen3": {
    "provider": "ollama",
    "model": "qwen3:8b"
  },
  "openrouter_model": {
    "provider": "openrouter",
    "model": "nex-agi/nex-n2.5-mini:free"
  }
}'


EMBEDDING_MODELS='{
  "bge-m3": {
    "provider": "ollama",
    "model": "bge-m3",
    "dimension": 1024
  },
  "openrouter_embedding": {
    "provider": "openrouter",
    "model": "your-embedding-model",
    "dimension": 1024
  }
}'